/*my css styling*/
*
*::after,
*::before{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: none;
}

body {
  /*background-image: url(static/powerbuilding_information/images/home-image-3.jpg);*/
}

.navbar-light .navbar-toggler-icon {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.main-header {
  color: #fff;
  font-size: 40px;
  font-weight: 300;
  /*margin-bottom: 10px;*/
  /*line-height: 60px;*/
  letter-spacing: 1px;
}

.dropdown-toggle {
  background-color: darkred;
}

.not-visible {
  display: none;
}

.like_dislike_buttons {
  display: inline;
}

.fa-thumbs-down, .fa-thumbs-up,  {
  color: black;
}

.container {
  min-height: 850px;
  color: white; 
}

.shared-post, .child-comment {
  margin-left: 45px;
  /*background-color: navy;*/

}

.top-nav-bar .nav-item .nav-link{
  color: darkred;
}

.share-btn {
  cursor: pointer;
}

.inbox-icon {
  margin-left: 12px;
  margin-right: 12px;
}

.container a:not(.jumpinglink) { 
  color: skyblue;
}

.container a:not(.jumpinglink):hover { 
  color: #098bdc;
}

.post-image {
  max-width: 300px;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 10px;
}

/*.green {
  color: #3CB371;
}*/



.flexbox-item-99 {
  border: 5px solid darkred;
  text-align: center;
  margin: 10px;
}

.flexbox-item-98 h2 {
  padding-bottom: 15px;
}

.flexbox-item-90, .post_body {
  width: 500px;
}

.links_in_header h4 {
  padding-bottom: 10px;
}

.image {
  width: 100%;
  height: 500px;
  /*padding: 25px;*/
  padding: 0px 25px 0px 25px;
}

.sourceone {
  padding: 0px 25px 0px 25px;
}


.main-header-info {
  /*background-color: white;*/
  width: 400px;
  height: 150px;
  margin: 0 auto;
}

.flexbox-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: center;
  bottom: 10%;
}

.flexbox-item {
  width: 400px;
  margin: 10px;
  border: 3px solid #F8F8FF;
}

.flexbox-item ul li {
  padding-bottom: 25px;
}

.image2 {
  width: 100%;
  height: 250px;
}

.flexbox-container p, .flexbox-container ul {
  font-size: 23px;
  font-weight: 500;
}

.flexbox-container h1, .flexbox-item h4, .flexbox-item h5, .flexbox-item h3, .flexbox-item h2, .tableofcontents, 
.survey_header, .top_main_header  {
  text-align: center;
}

.flexbox-item h4 {
  margin-bottom: 25px;
}

.header-info2 {
  padding: 15px;
}

.header-info2 span, .header-info2 h4 {
  font-weight: bold;
}

.source {
  display: block;
  text-align: center;
  background-color: #22495e;
}

.redjumpinglinks {
  text-align: center;
}

.jumpinglink {
  color: #F08080;
  text-align: center;
}

.jumpinglink:hover {
  color: indianred;
}

.more {
  display: none;
}

.read {
  text-align: center;
  padding: 3px;
  border: 2px solid #F8F8FF;
}

.read:hover {
  cursor: pointer;
}

.takeactionnow {
  text-align: center;
}

.survey_header h4 {
  line-height: 1.6;
}

.comment-form {
  width: 100%;
}

.coercion {
  background-color: red;
}

.stroke, {
  color: darkred;
}

.sent-message {
  background-color: darkblue;
  border-radius: 30px;
  padding: 10px 25px;
  width: 35%;
}

.message-date {
  font-size: 10px;
}

.shadow {
  color: white;
  text-shadow: 4px 4px 8px #000000;
}

.received-message {
  background-color: rgb(1, 196, 255);
  color: #fff;
  border-radius: 30px;
  padding: 10px 25px;
  width: 35%;
}

.message-receiver-container {
  margin-left: auto;
  margin-right: 0;
}

.message-image {
  border-radius: 10px;
  max-width: 35%;
  height: auto;
}

.flexbox-item-99 .header-info2 .flexbox-item-90 {
  /*border: 5px solid #F8F8FF;*/
  padding: 10px;
  margin: auto;
  text-align: center;
  /*width: 40%;*/
}

.flexbox-item-0 h1 {
  padding-top: 30px;
  padding: 5px;
}

.footer-basic {
  width: 100%;
  margin-top: 100px;
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
  /*position:fixed;*/
  bottom:0;
  left:0;
  right:0;
  /*height:30px;*/

}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

.footer-basic {
  background-color: black;
}

.footer-basic .list-inline, .social {
  color: white;
}

.col-md-10 {
  background-color: #223a5e;
}
