{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
<h1 style="display: none;">Homepage</h1>
<div class="flexbox-container1 fade-in-image">
	<div class="flexbox-item-99">
		<br>
		<h1 class="main-header">Powerlifting & Bodybuilding <br> Create <br> Power-Building </h1> <p><span>Created by: Chetram Bassit</span></p>
		<img class="image" src="{% static 'powerbuilding/images/ronnie_coleman.png' %}">
		<div class="sourceone"><small class="">Ronnie Coleman <a target="_blank" href="https://commons.wikimedia.org/wiki/File:Ronnie_Coleman_8_x_Mr_Olympia_-_2009_-_6.png">Editor, Public domain, via Wikimedia Commons</a></small></div>
		<div class="header-info2">	
			<h3>Welcome <br> Powerlifters, Bodybuilders, Powerbuilders, <br> and all other forms of Fitness!</h3>
			<h5>Check out the latest information, including articles and videos, on these methods of training.</h5>
			<h5>Post your latest workouts, interact with other users in our <a href="{% url 'post-list' %}">Social Feed</a>.</h5>
			<h5>Edit your profile and view all your Posts.</h5>
			<h5>Check out our <a href="{% url 'surveys' %}">Survey</a> questions!</h5>
		</div>
	</div>
</div>

{% if user.is_authenticated %}
	<div class="flexbox-container ">
		{% if survey.0 %}
			<div class="flexbox-item flexbox-item-121">
				<div class="header-info2">
					<h3>{{ survey.0.question }}</h3>
					<center>
		        <div class="flex space-x-8 font-medium text-gray-700 text-xl">
		          <form action="{%url 'likes' survey.0.id%}" method="POST" class="like-form0">
		            {%csrf_token%}
		            {%if user not in survey.0.likes.all %}
		              <button type="submit"  class="like-btn0 like-icon0" name="video_id" value="{{survey.0.id}}">	                              
		                <span viewBox="0 0 20 20" width="24" height="24">
		                  Yes
		                </span>
		              </button>
		            {%else%}
		            	<button type="submit"  class="like-btn0 like-icon0 btn-success" name="video_id" value="{{survey.0.id}}" padding-bottom="10">
		                <span viewBox="0 0 20 20" width="24" height="24">
		                  Yes
		                </span>
		              </button>
		            {%endif%}
		            <span class="like_count" id="like_count0">{{survey.0.num_likes}}</span>
		          </form>
		      	</div>
		      </center>
		    </div>
			</div>		
		{% endif %}
		{% if survey.1 %}
			<div class="flexbox-item flexbox-item-121">
				<div class="header-info2">
					<h3>{{ survey.1.question }}</h3>
					<center>
		        <div class="flex space-x-8 font-medium text-gray-700 text-xl">
		          <form action="{%url 'likes' survey.1.id%}" method="POST" class="like-form1">
		            {%csrf_token%}
		            {%if user not in survey.1.likes.all %}
		              <button type="submit"  class="like-btn1 like-icon1" name="video_id" value="{{survey.1.id}}">	                                     
		                <span viewBox="0 0 20 20" width="24" height="24">
		                  Yes
		                </span>
		              </button>
		            {%else%}
		            	<button type="submit"  class="like-btn1 like-icon1 btn-success" name="video_id" value="{{survey.1.id}}">
		                <span viewBox="0 0 20 20" width="24" height="24">
		                  Yes
		                </span>
		              </button>
		            {%endif%}
		            <span class="like_count" id="like_count1">{{survey.1.num_likes}}</span>
		          </form>
		      	</div>
		      </center>
		    </div>
			</div>		
		{% endif %}
		{% if survey.2 %}
			<div class="flexbox-item flexbox-item-121">
				<div class="header-info2">
					<h3>{{ survey.2.question }}</h3>
					<center>
		        <div class="flex space-x-8 font-medium text-gray-700 text-xl">
		          <form action="{%url 'likes' survey.2.id%}" method="POST" class="like-form2">
		            {%csrf_token%}
		            {%if user not in survey.2.likes.all %}
		              <button type="submit"  class="like-btn2 like-icon2" name="video_id" value="{{survey.2.id}}">                            
		                <span viewBox="0 0 20 20" width="24" height="24">
		                  Yes
		                </span>
		              </button>
		            {%else%}
		            	<button type="submit"  class="like-btn2 like-icon2 btn-success" name="video_id" value="{{survey.2.id}}">
		                <span viewBox="0 0 20 20" width="24" height="24">
		                  Yes
		                </span>
		              </button>
		            {%endif%}
		            <span class="like_count" id="like_count2">{{survey.2.num_likes}}</span>
		          </form>
		      	</div>
		      </center>
		    </div>
		  </div>		
		{% endif %}
		{% if survey.3 %}
			<div class="flexbox-item flexbox-item-121">
				<div class="header-info2">
					<h3>{{ survey.3.question }}</h3>
					<center>
		        <div class="flex space-x-8 font-medium text-gray-700 text-xl">
		          <form action="{%url 'likes' survey.3.id%}" method="POST" class="like-form3">
		            {%csrf_token%}
		            {%if user not in survey.3.likes.all %}
		              <button type="submit"  class="like-btn3 like-icon3" name="video_id" value="{{survey.3.id}}">                            
		                <span viewBox="0 0 20 20" width="24" height="24">
		                  Yes
		                </span>
		              </button>
		            {%else%}
		            	<button type="submit"  class="like-btn3 like-icon3 btn-success" name="video_id" value="{{survey.3.id}}">
		                <span viewBox="0 0 20 20" width="24" height="24">
		                  Yes
		                </span>
		              </button>
		            {%endif%}
		            <span class="like_count" id="like_count3">{{survey.3.num_likes}}</span>
		          </form>
		      	</div>
		      </center>
		    </div>
		  </div>		
		{% endif %}
	</div>
{% else %}
	<div class=""><div class="flexbox-item-99"><h5>Only Users can answer survey questions! Please <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">register!</a></h5></div></div>
	<div class="flexbox-container">
		{% if survey.0 %}
			<div class="flexbox-item flexbox-item-121">
				<div class="header-info2">
					<h3>{{ survey.0.question }}</h3>
					<center>
		        <div class="flex space-x-8 font-medium text-gray-700 text-xl">
		        	<p>{{ survey.0.num_likes }} &nbsp; Yes</p>
		      	</div>
		      </center>
		    </div>
			</div>		
		{% endif %}
		{% if survey.1 %}
			<div class="flexbox-item flexbox-item-121">
				<div class="header-info2">
					<h3>{{ survey.1.question }}</h3>
					<center>
		        <div class="flex space-x-8 font-medium text-gray-700 text-xl">
		        	<p>{{ survey.1.num_likes }} &nbsp; Yes</p>
		      	</div>
		      </center>
		    </div>
			</div>		
		{% endif %}
		{% if survey.2 %}
			<div class="flexbox-item flexbox-item-121">
				<div class="header-info2">
					<h3>{{ survey.2.question }}</h3>
					<center>
		        <div class="flex space-x-8 font-medium text-gray-700 text-xl">
		          <p>{{ survey.2.num_likes }} &nbsp; Yes</p>
		      	</div>
		      </center>
		    </div>
		  </div>		
		{% endif %}
		{% if survey.3 %}
			<div class="flexbox-item flexbox-item-121">
				<div class="header-info2">
					<h3>{{ survey.3.question }}</h3>
					<center>
		        <div class="flex space-x-8 font-medium text-gray-700 text-xl">
		          <p>{{ survey.3.num_likes }} &nbsp; Yes</p>
		      	</div>
		      </center>
		    </div>
		  </div>		
		{% endif %}
	</div>  
{% endif %}

{% endblock %} 
