{% extends 'base.html' %}
{% load static %}
{% block title %}Surveys{% endblock %}
{% block content %}



<div class="flexbox-container1 desc animate-box ">
	<div class="flexbox-item-99">
		<br>
		<h1 class="main-header">Survey Questions</h1>
		<img class="image" src="{% static 'powerbuilding/images/squat.jpg' %}">
		<div class="sourceone"><small class="">Kirk-karwoski <a target="_blank" href="https://commons.wikimedia.org/wiki/File:Kirk-karwoski-squat.jpg">Editor, Public domain, via Wikimedia Commons</a></small></div>
		<div class="header-info2">	
		</div>
	</div>
</div>
<div class="flexbox-container">
	<div class="flexbox-item flexbox-item-0" id="sec0">
		<div class="header-info2">
			<h1 class="green">Table of Context</h1><hr>
			<h4> <a class="jumpinglink" href="#pl">Powerlifting</a></h4><hr>
			<h4> <a class="jumpinglink" href="#bb">Bodybuilding</a></h4><hr>
			<h4> <a class="jumpinglink" href="#pb">Powerbuilding</a></h4><hr>
		</div>
	</div>
</div>
<br><br>
	

	<h1 class="survey_header green" id="pl">Questions for Powerlifters</h1><hr>
	<div class="flexbox-container" >
	{% if survey.4 %}
		<div class="flexbox-item flexbox-item-121">
			<div class="header-info2">
				<h2>{{ survey.4.question }}</h2>
				<center>
					{% if user.is_authenticated %}
                        <div class="flex space-x-8 font-medium text-gray-700 text-xl">
                            <form action="{%url 'likes' survey.4.id%}" method="POST" class="like-form4">
                                {%csrf_token%}
                                {%if user not in survey.4.likes.all %}
	                                <button type="submit"  class="like-btn4 like-icon4" name="video_id" value="{{survey.4.id}}">	                                   			                                    
	                                    <span viewBox="0 0 20 20" width="24" height="24">
	                                        Yes
	                                    </span>
	                                </button>
                                {%else%}
                                	<button type="submit"  class="like-btn4 like-icon4 btn-success" name="video_id" value="{{survey.4.id}}">
	                                    <span viewBox="0 0 20 20" width="24" height="24">
	                                        Yes
	                                    </span>
	                                </button>
                                {%endif%}
                                <span class="like_count" id="like_count4">{{survey.4.num_likes}}</span>
                             </form>


                            <form action="{% url 'dislikes' survey.4.id%}" method="POST" class="dislike-form4">
                                {% csrf_token %}
                                {%if user not in survey.4.dislikes.all %}
	                                <button type="submit" class="dislike-btn4 dislike-icon4" name="video_id" value="{{survey.4.id}}">	                         			                                    
	                                    <span viewBox="0 0 20 20" width="24" height="24">
	                                        No
	                                    </span>
	                                </button>
                                {%else%}
                                	<button type="submit" class="dislike-btn4 dislike-icon4 btn-success" name="video_id" value="{{survey.4.id}}">	   
	                                    <span viewBox="0 0 20 20" width="24" height="24">
	                                        No
	                                    </span>
                                    </button>
                                {%endif%}			    
                                <span class="dislike_count" id="dislike_count4">{{survey.4.num_dislikes}}</span>
                            </form>
                    	</div>
                    {% else %}
						<p>{{ survey.4.num_likes }} &nbsp; Yes</p>
						<p>{{ survey.4.num_dislikes }} &nbsp; No</p>
						<h5>Only Users can answer survey questions! Please <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">register!</a></h5>
					{% endif %}
                </center>
            </div>
        </div>		
	{% endif %}
	{% if survey.5 %}
		<div class="flexbox-item flexbox-item-121">
			<div class="header-info2">
				<h2>{{ survey.5.question }}</h2>
				<center>
					{% if user.is_authenticated %}
	                    <div class="flex space-x-8 font-medium text-gray-700 text-xl">
	                        <form action="{%url 'likes' survey.5.id%}" method="POST" class="like-form5">
	                            {%csrf_token%}
	                            {%if user not in survey.5.likes.all %}
	                                <button type="submit" class="like-btn5 like-icon5" name="video_id" value="{{survey.5.id}}">	                                   			                                    
	                                    <span viewBox="0 0 20 20" width="24" height="24">
	                                        Yes
	                                    </span>
	                                </button>
                                {%else%}
                                	<button type="submit"  class="like-btn5 like-icon5 btn-success" name="video_id" value="{{survey.5.id}}">
	                                    <span viewBox="0 0 20 20" width="24" height="24">
	                                        Yes
	                                    </span>
	                                </button>
                                {%endif%}
                                <span class="like_count" id="like_count5">{{survey.5.num_likes}}</span>
                             </form>


                            <form action="{% url 'dislikes' survey.5.id%}" method="POST" class="dislike-form5">
                                {% csrf_token %}
                                {%if user not in survey.5.dislikes.all %}
	                                <button type="submit" class="dislike-btn5 dislike-icon5" name="video_id" value="{{survey.5.id}}">	                         			                                    
	                                    <span viewBox="0 0 20 20" width="24" height="24">
	                                        No
	                                    </span>
	                                </button>
                                {%else%}
                                	<button type="submit" class="dislike-btn5 dislike-icon5 btn-success" name="video_id" value="{{survey.5.id}}">	   
	                                    <span viewBox="0 0 20 20" width="24" height="24">
	                                        No
	                                    </span>
                                    </button>
                                {%endif%}			 
                                <span class="dislike_count" id="dislike_count5">{{survey.5.num_dislikes}}</span>
                            </form>
                    	</div>
                    {% else %}
						<p>{{ survey.5.num_likes }} &nbsp; Yes</p>
						<p>{{ survey.5.num_dislikes }} &nbsp; No</p>
						<h5>Only Users can answer survey questions! Please <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">register!</a></h5>
					{% endif %}
                </center>
            </div>
        </div>		
	{% endif %}	
</div>


<h1 class="survey_header green" id="bb">Questions for Bodybuilders</h1><hr>
	<div class="flexbox-container" >
	{% if survey.6 %}
		<div class="flexbox-item flexbox-item-121">
			<div class="header-info2">
				<h2>{{survey.6.question}}</h2>
				<center>
					{% if user.is_authenticated %}
                        <div class="flex space-x-8 font-medium text-gray-700 text-xl">
                            <form action="{%url 'likes' survey.6.id%}" method="POST" class="like-form6">
                                {%csrf_token%}
                                {%if user not in survey.6.likes.all %}
	                                <button type="submit" class="like-btn6 like-icon6" name="video_id" value="{{survey.6.id}}">	                                   			                                    
	                                    <span viewBox="0 0 20 20" width="24" height="24">
	                                        Yes
	                                    </span>
	                                </button>
                                {%else%}
                                	<button type="submit"  class="like-btn6 like-icon6 btn-success" name="video_id" value="{{survey.6.id}}">
	                                    <span viewBox="0 0 20 20" width="24" height="24">
	                                        Yes
	                                    </span>
	                                </button>
                                {%endif%}
                                <span class="like_count" id="like_count6">{{survey.6.num_likes}}</span>
                             </form>


                            <form action="{% url 'dislikes' survey.6.id%}" method="POST" class="dislike-form6">
                                {% csrf_token %}
                                {%if user not in survey.6.dislikes.all %}
	                                <button type="submit" class="dislike-btn6 dislike-icon6" name="video_id" value="{{survey.6.id}}">	                         			                                    
	                                    <span viewBox="0 0 20 20" width="24" height="24">
	                                        No
	                                    </span>
	                                </button>
                                {%else%}
                                	<button type="submit" class="dislike-btn6 dislike-icon6 btn-success" name="video_id" value="{{survey.6.id}}">	   
	                                    <span viewBox="0 0 20 20" width="24" height="24">
	                                        No
	                                    </span>
                                    </button>
                                {%endif%}			 
                                <span class="dislike_count" id="dislike_count6">{{survey.6.num_dislikes}}</span>
                            </form>
                    	</div>
                    {% else %}
						<p>{{ survey.6.num_likes }} &nbsp; Yes</p>
						<p>{{ survey.6.num_dislikes }} &nbsp; No</p>
						<h5>Only Users can answer survey questions! Please <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">register!</a></h5>
					{% endif %}
                </center>
            </div>
        </div>		
	{% endif %}
	{% if survey.7 %}
		<div class="flexbox-item flexbox-item-121">
			<div class="header-info2">
				<h2>{{ survey.7.question }}</h2>
				<center>
					{% if user.is_authenticated %}
                        <div class="flex space-x-8 font-medium text-gray-700 text-xl">
                            <form action="{%url 'likes' survey.7.id%}" method="POST" class="like-form7">
                                {%csrf_token%}
                                {%if user not in survey.7.likes.all %}
	                                <button type="submit" class="like-btn7 like-icon7" name="video_id" value="{{survey.7.id}}">	                                   			                                    
	                                    <span viewBox="0 0 20 20" width="24" height="24">
	                                        Yes
	                                    </span>
	                                </button>
                                {%else%}
                                	<button type="submit"  class="like-btn7 like-icon7 btn-success" name="video_id" value="{{survey.7.id}}">
	                                    <span viewBox="0 0 20 20" width="24" height="24">
	                                        Yes
	                                    </span>
	                                </button>
                                {%endif%}
                                <span class="like_count" id="like_count7">{{survey.7.num_likes}}</span>
                             </form>


                            <form action="{% url 'dislikes' survey.7.id%}" method="POST" class="dislike-form7">
                                {% csrf_token %}
                                {%if user not in survey.7.dislikes.all %}
	                                <button type="submit" class="dislike-btn7 dislike-icon7" name="video_id" value="{{survey.7.id}}">	                         			                                    
	                                    <span viewBox="0 0 20 20" width="24" height="24">
	                                        No
	                                    </span>
	                                </button>
                                {%else%}
                                	<button type="submit" class="dislike-btn7 dislike-icon7 btn-success" name="video_id" value="{{survey.7.id}}">	   
	                                    <span viewBox="0 0 20 20" width="24" height="24">
	                                        No
	                                    </span>
                                    </button>
                                {%endif%}			 
                                <span class="dislike_count" id="dislike_count7">{{survey.7.num_dislikes}}</span>
                            </form>
                    	</div>
                    {% else %}
						<p>{{ survey.7.num_likes }} &nbsp; Yes</p>
						<p>{{ survey.7.num_dislikes }} &nbsp; No</p>
						<h5>Only Users can answer survey questions! Please <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">register!</a></h5>
					{% endif %}
                </center>
            </div>
        </div>		
	{% endif %}
</div>


<h1 class="survey_header green" id="pb">Questions for PowerBuilders</h1><hr>
	<div class="flexbox-container" >
	{% if survey.8 %}
		<div class="flexbox-item flexbox-item-121">
			<div class="header-info2">
				<h2>{{ survey.8.question }}</h2>
				<center>
					{% if user.is_authenticated %}
                        <div class="flex space-x-8 font-medium text-gray-700 text-xl">
                            <form action="{%url 'likes' survey.8.id%}" method="POST" class="like-form8">
                                {%csrf_token%}
                                {%if user not in survey.4.likes.all %}
	                                <button type="submit"  class="like-btn8 like-icon8" name="video_id" value="{{survey.8.id}}">	                                   			                                    
	                                    <span viewBox="0 0 20 20" width="24" height="24">
	                                        Yes
	                                    </span>
	                                </button>
                                {%else%}
                                	<button type="submit"  class="like-btn8 like-icon8 btn-success" name="video_id" value="{{survey.8.id}}">
	                                    <span viewBox="0 0 20 20" width="24" height="24">
	                                        Yes
	                                    </span>
	                                </button>
                                {%endif%}
                                <span class="like_count" id="like_count8">{{survey.8.num_likes}}</span>
                             </form>


                            <form action="{% url 'dislikes' survey.8.id%}" method="POST" class="dislike-form8">
                                {% csrf_token %}
                                {%if user not in survey.8.dislikes.all %}
	                                <button type="submit" class="dislike-btn8 dislike-icon8" name="video_id" value="{{survey.8.id}}">	                         			                                    
	                                    <span viewBox="0 0 20 20" width="24" height="24">
	                                        No
	                                    </span>
	                                </button>
                                {%else%}
                                	<button type="submit" class="dislike-btn8 dislike-icon8 btn-success" name="video_id" value="{{survey.8.id}}">	   
	                                    <span viewBox="0 0 20 20" width="24" height="24">
	                                        No
	                                    </span>
                                    </button>
                                {%endif%}			    
                                <span class="dislike_count" id="dislike_count8">{{survey.8.num_dislikes}}</span>
                            </form>
                    	</div>
                    {% else %}
						<p>{{ survey.8.num_likes }} &nbsp; Yes</p>
						<p>{{ survey.8.num_dislikes }} &nbsp; No</p>
						<h5>Only Users can answer survey questions! Please <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">register!</a></h5>
					{% endif %}
                </center>
            </div>
        </div>		
	{% endif %}
	{% if survey.9 %}
		<div class="flexbox-item flexbox-item-121">
			<div class="header-info2">
				<h2>{{ survey.9.question }}</h2>
				<center>
					{% if user.is_authenticated %}
	                    <div class="flex space-x-8 font-medium text-gray-700 text-xl">
	                        <form action="{%url 'likes' survey.9.id%}" method="POST" class="like-form9">
	                            {%csrf_token%}
	                            {%if user not in survey.9.likes.all %}
	                                <button type="submit" class="like-btn9 like-icon9" name="video_id" value="{{survey.9.id}}">	                                   			                                    
	                                    <span viewBox="0 0 20 20" width="24" height="24">
	                                        Yes
	                                    </span>
	                                </button>
                                {%else%}
                                	<button type="submit"  class="like-btn9 like-icon9 btn-success" name="video_id" value="{{survey.9.id}}">
	                                    <span viewBox="0 0 20 20" width="24" height="24">
	                                        Yes
	                                    </span>
	                                </button>
                                {%endif%}
                                <span class="like_count" id="like_count9">{{survey.9.num_likes}}</span>
                             </form>


                            <form action="{% url 'dislikes' survey.9.id%}" method="POST" class="dislike-form9">
                                {% csrf_token %}
                                {%if user not in survey.9.dislikes.all %}
	                                <button type="submit" class="dislike-btn9 dislike-icon9" name="video_id" value="{{survey.9.id}}">	                         			                                    
	                                    <span viewBox="0 0 20 20" width="24" height="24">
	                                        No
	                                    </span>
	                                </button>
                                {%else%}
                                	<button type="submit" class="dislike-btn9 dislike-icon9 btn-success" name="video_id" value="{{survey.9.id}}">	   
	                                    <span viewBox="0 0 20 20" width="24" height="24">
	                                        No
	                                    </span>
                                    </button>
                                {%endif%}			 
                                <span class="dislike_count" id="dislike_count9">{{survey.9.num_dislikes}}</span>
                            </form>
                    	</div>
                    {% else %}
						<p>{{ survey.9.num_likes }} &nbsp; Yes</p>
						<p>{{ survey.9.num_dislikes }} &nbsp; No</p>
						<h5>Only Users can answer survey questions! Please <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">register!</a></h5>
					{% endif %}
                </center>
            </div>
        </div>		
	{% endif %}
	
</div>


{% endblock %}

























